@import "variable.styl"

body, html
  line-height: 1
  font-family:  "STHeiti", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: #525252

body
  font-size: .28rem

.flex
  display: -webkit-box
  display: -ms-flexbox
  display: flex

.flex-item
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center

.flex-justify
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center

.flex-grow
  -webkit-box-flex: 1
  -ms-flex-positive: 1
  flex-grow: 1
  flex: 1

.active
  position: relative
  &:after
    position: absolute
    bottom: 0
    left: .4rem
    right: 0
    content: ''
    height: 1px
    background-color:#e8e8e8
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5)

.text-left
  text-align: left
.text-right
  text-align: right
.text-center
  text-align: center

.button
  display: block
  height: .8rem
  text-align: center
  border-radius: .06rem
  line-height: .8rem
  font-size: .3rem
  &.button-primary
    background: #ff9c00
    color: #fff

.list-view
  background: #fff
  .item
    line-height: 1rem
    height: 1rem
    margin-left: .4rem
    border-bottom: 1px solid #e8e8e8
    padding-right: .4rem
    &:last-child
      border-bottom: 0
.h1
  font-size: .48rem
.h2
  font-size: .36rem
.h3
  font-size: .32rem
.h4
  font-size: .30rem
.h5
  font-size: .28rem
.h6
  font-size: .24rem

.bold
  font-weight: bold
.v-hide
  visibility: hidden

::-webkit-input-placeholder {
  font-size: .28rem
}
:-moz-placeholder {
  font-size: .28rem
}
::-moz-placeholder {
  font-size: .28rem
}
:-ms-input-placeholder {
  font-size: .28rem
}
