@import "variable.styl"

body, html
  line-height: 1
  font-family:  "STHeiti", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: #333

body
  font-size: .28rem

.flex
  display: -webkit-box
  display: -ms-flexbox
  display: flex

.flex-item
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center

.flex-justify
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center

.flex-grow
  -webkit-box-flex: 1
  -ms-flex-positive: 1
  flex-grow: 1

.active
  position: relative
  &:after
    position: absolute
    bottom: 0
    left: 0
    right: 0
    content: ''
    height: 1px
    background-color:#e8e8e8
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5)

.text-left
  text-align: left
.text-right
  text-align: right
.text-center
  text-align: center
    
